#img-bg{
    background-image: url("https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgbtn{
    background-color:#9370DB;
}
